.container {
  border: 3px solid rgb(153, 150, 150);
  max-width: 300px;
  margin: 0 auto;
  background-color: #ccb6b6;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputArea {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: right;
  border: none;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.button {
  width: calc(100% / 4);
  padding: 10px;
  /* margin-bottom: 10px; */
  margin: 10px;
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: #e0e0e0;
  color: #333333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #c0c0c0;
}

.button1 {
  margin-right: 10px;
  background-color: #f44336;
  color: #ffffff;
}

.button1:hover {
  background-color: #d32f2f;
}
