.container{
  border: 1px solid black;
  width: "320px";
  height: 100px auto;
}

#inputvalues{
  border: 3px solid black;
  text-align: right;
  padding: 10px;
  font-size: 35px;
  width: 295px;
  height: 45px;
}

.button{
  height: 80px;
  width: 80px;
  float: left;
  font-size: 30px;
  border: 1px solid black;
}
.button1{
  width: 160px;
}